# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Granit contributors

---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*[\\/]3rd[\\/]).*'
SystemHeaders: false
FormatStyle: file
...
