# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Granit contributors

---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
FixNamespaceComments: false
...
